@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-primario: #fff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-principal: 'Inter', sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-primario);
    font-family: var(--fonte-principal);
    font-weight: 400px;
}

.apresentacao{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    /*display: grid;
    height: 100vh; 
    grid-template-columns: 50% 50%;*/
    align-items: center;
    text-align: center;
}

.apresentacao__conteudo{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
    margin: 0 3.5rem;
}

.apresentacao__conteudo__titulo{
    width: 36.75rem;
    font-size: 1.75rem;
    color: #fff;
    font-weight: 700;
}

.apresentacao__conteudo__imagem{
    margin: 1rem 0 3rem 0;
    height: 6.25rem;
    width: 21.75rem;
}

.apresentacao__conteudo__botao{
    margin: 0 0 0 1rem;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
    border: 2px solid var(--botao-azul);
    border-radius: 8px;
    text-decoration: none;
    color: var(--branco-primario);
    background-color: var(--botao-azul);
    padding: 1rem;
    width: 30rem;
}

.apresentacao__conteudo__botao1{ 
    margin: 0 0 0.7rem 1rem;
    background-color: transparent;
    display: block;
    font-size: 1rem;
    border: 2px solid var(--branco-primario);
    border-radius: 8px;
    text-decoration: none;
    color: var(--branco-primario);
    padding: 1rem;
    width: 30rem;
}

.apresentacao__conteudo__texto{
    color: var(--cinza-secundario);
    font-size: 0.75rem;
}

.apresentacao__conteudo__botao:hover{
    border-color: #5aa0f7; 
    background-color: #5aa0f7;
}

.apresentacao__conteudo__botao1:hover{
    background-color: #807e7e;
    color: #000;
    border-color: transparent;
}

.apresentacao__secundaria{
    display: flex;
    flex-direction: row;
}

.apresentacao__secundaria{
    align-items: center;
    margin: 0% 10%;
}

.apresentacao__secundaria__imagem{
    /* width: 31rem; */
    height: 35rem;
}

.apresentacao__secundaria__descricao__titulo{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.1rem;
}

.apresentacao__secundaria__descricao__paragrafo{
    font-size: 1rem;
}

.apresentacao__3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 13%;
    margin-bottom: 13%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.apresentacao__3__descricao__texto{
    font-size: 1rem;
    margin-right: 7%;
}

.apresentacao__3__imagem{
    width: 31rem;
}

.apresentacao__3__descricao__botao{
    margin: 1rem 24rem 0 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 1rem;
    border: 2px solid var(--botao-azul);
    border-radius: 8px;
    text-decoration: none;
    color: var(--branco-primario);
    background-color: var(--botao-azul);
    padding: 1rem;
    width: 10rem;
}

.apresentacao__3__descricao__botao:hover{
    border-color: #5aa0f7; 
    background-color: #5aa0f7;
}

.apresentacao__4{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

.apresentacao__4__imagem{
    width: 37rem;
}

.apresentacao__4__descricao{
    padding: 2rem;
}

.apresentacao__4__descricao__titulo{
    font-size: 3rem;
}

.apresentacao__4__descricao__texto{
    font-size: 1rem;
    margin-left: 1rem;
}

.apresentacao__dispositivos__titulo{
    font-size: 3rem;
    text-align: center;
}

h3{
    font-size: 2rem;
}

.apresentacao__dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5rem 0;
}

.rodape__logo{
    margin-top: 8rem;
    margin-left: 38rem;
    margin-bottom: 2rem;
}

.rodape__lista{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    margin-right: 5rem;
}

.lista_links{
    align-items: center;
    text-decoration: none;
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
}

.rodape__texto{
    color: var(--cinza-secundario);
    text-align: center;
    font-size: 0.87rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.rodape__lista__link a:hover{
    color: var(--botao-azul);
}